.gradient-custom-3 {
  /* Fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
}

.gradient-custom-4 {
  /* Fallback for old browsers */
  background: rgb(0, 0, 0);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(237, 1, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(10, 89, 39), rgb(47, 53, 56));
}

.hover-green {
  background-color: rgb(13, 133, 253); /* Initial background color */
  color: white; /* Initial text color */
  transition: all 0.3s ease; /* Smooth transition for the hover effect */
}

.hover-green:hover {
  background-color: green; /* Green background on hover */
  color: red; /* Red text color on hover */
  transform: scale(1.05); /* Slightly enlarge the button when hovered */
}

